::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 85%);
}

::-webkit-scrollbar-thumb {
  background: #5a5858;
  border-radius: 5px;
}

.main {
  min-height: calc(100vh - 80px);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 9px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
