@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 9px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.copy-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
